body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 40px;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info span {
    margin-right: 20px;
}

.contact-info i {
    margin-right: 8px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
    height: 40%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 20px;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #100f0f;
}

.book-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b02e2e;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
}

.book-btn:hover {
    background-color: #a52a2a;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 500;
    color: #000000;
    letter-spacing: 5px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.content p {
    font-size: 1.2em;
    color: #100f0f;
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    margin: 0 15px;
    border-radius: 25px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.book-btn {
    background-color: #b02e2e;
    color: white;
}

.explore-btn {
    background-color: chocolate;
    border: 2px solid white;
    color: white;
}

.book-btn:hover {
    background-color: #a52a2a;
}

.explore-btn:hover {
    background-color: white;
    color: #333;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.mobile-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
}

.menu-section {
    text-align: center;
    margin-top: 50px;
}

.menu-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.menu-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    width: 23%;
    transition: box-shadow 0.3s ease;
}

.menu-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.icon img {
    width: 80px;
    margin-bottom: 20px;
}

.menu-card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.menu-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 30px;
}

.menu-link {
    color: #b02e2e;
    text-decoration: none;
    font-weight: bold;
}

.menu-link:hover {
    color: #a52a2a;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
}

.image-side {
    position: relative;
    width: 50%;
}

.image-side img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.visit-us-card {
    margin-left: 24pc;
    position: absolute;
    top: 230px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.visit-us-card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.visit-us-card p {
    margin-bottom: 10px;
    font-size: 1em;
}

.text-side {
    width: 45%;
    padding-left: 20px;
}

.text-side h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.text-side p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

.more-info-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.more-info-btn:hover {
    background-color: #333;
    color: #fff;
}

.services-container {
    text-align: center;
    margin: 20px 0;
    margin-top: 100px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s;
}

.service-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.service-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.service-card p {
    font-size: 0.9em;
    color: #666;
}

.service-card:hover {
    transform: translateY(-5px);
}

.services-container h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .services-container h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }
    .services {
        grid-template-columns: 1fr;
    }
    .service-card {
        margin: 0 10px;
    }
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .image-side, .text-side {
        width: 100%;
    }
    .text-side {
        padding-left: 0;
        margin-top: 20px;
    }
    .visit-us-card {
        position: static;
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        padding: 10px 0;
    }
    .nav-links li {
        margin: 20px 0;
    }
    .nav-links.active {
        display: flex;
    }
}
