@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 111;
}

/* Top Bar Styling */
.top-bar {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.contact-info span {
    margin-right: 20px;
}

.contact-info i {
    margin-right: 8px;
}

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 1.5em;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #ddd;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
    height: 40%;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: black;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px; /* Adjust the logo size as needed */
    margin-right: 20px;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}
.logo img {
    color: #333 !important;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #888;
}

/* Book A Table Button */
.book-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
}

.book-btn:hover {
    background-color: #555;
}
/* Hero section */
.Container {
    width: min(90%, 1120px);
    margin: auto;
}
.hero-section {
    margin-top: 5rem;
}
.text-hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}
.text-hero-section h2 {
    font-size: 5rem;
    font-weight: 400;
}
.text-hero-section p {
    color: #555;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
}
/* foods-section */
.foods-section {
    height: 100vh;
    margin-bottom: 10%;
}
.top-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top-links a {
    font-size: 1.2rem;
    margin: 2rem;
   text-decoration: none;
   color: black;
   border: 1px solid lightgray;
   padding: 10px 40px;
   border-radius: 50px;
   font-weight: 500;
}
.first-linking  {
    background-color: brown;
    color: #fff !important;
}
.buttom-details {
    padding: 10px;
}
.buttoms-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.buttom-img-texts {
   width: 21rem;
   height: 28rem;
    border: 0.5px solid lightgray;
    border-radius: 6px;
}
/* .text-buttoms {
 border-bottom: 1px solid #000; 
 border-left: 1px solid #000;
 border-right: 1px solid #000;
 padding: 10px;
 height: 15rem;
} */
.buttom_1 img {
    border-radius: 5px 5px 0 0;
}
.buttom_1 video {
    border-radius: 5px 5px 0 0;
}
.text-buttoms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    line-height: 1.5;
}
.text-buttoms h2 {
    font-size: 1.5rem;
    color: brown;
    padding-bottom: 1rem;
}
.text-buttoms h4{
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}
.text-buttoms p {
    color: #525151;
    text-align: center;
    padding-top: 1rem;
}
footer {
    padding: 40px;
    background-color: #2e2e2e;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 23%;
    margin-bottom: 20px;
}

.logo-section h2 {
    font-size: 24px;
}

.logo-section p {
    margin: 20px 0;
    font-size: 14px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img, .social-icons i {
    width: 20px;
    height: 20px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.footer-section ul {
    list-style: none;
    color: white;
}

.footer-section ul li {
    color: white;
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.instagram-gallery {
    display: flex;
    gap: 10px;
}

.instagram-gallery img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom p {
    border-top: 1px solid #444;
    padding-top: 20px;
}


/* Tablet Menu */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    header {
        position: sticky;
        top: 0;
        z-index: 111;
    }

    .logo img {
        width: 82px;
    }

    .logo span {
        margin-top: 5px;
        font-size: 26px;
    }

    .top-bar {
        display: none;
    }

    .navbar {
        height: 51px; 
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px 0;
        z-index: 99;
    }

    .nav-links li a:hover {
        color: #10100f;
    }

    .nav-links li {
        margin: 5px 0;
        margin-left: 15px;
    }

    .hamburger {
        display: flex;
        padding: 10px;
    }

    .book-table {
        display: none;
    }
}

.buttom-img-texts {
    width: 20rem;
    height: 28rem;
     border: 0.5px solid lightgray;
     border-radius: 6px;
 }

.nav-links.active {
    display: flex;
}
    .foods-section {
        height: 100%;
    }
    .top-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
       
    }

.Order-apps {
    height: 100%;
    background-color: #888;
}
.apps-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
}
.name-apps h2 {
    font-size: 2.7rem;
    font-weight: 300;
    color: #fff;
   padding-bottom: 1rem;
}
.name-apps p {
    color: #333;
    font-size: 1rem;
}
.links-apps button {
    border: none;
    background-color: #fff;
    line-height: 2;
    padding: 10px;
}
.btn-top-apps  {
    padding: 10px 20px;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: 500;
    margin: 7px;
}
.btn-center-apps {
    padding: 10px 25px;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: 500;
    margin: 10px;
    margin-top: 2rem;
}
.btn-last-app {
    padding: 10px 20px;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: 500;
    margin: 7px;
    margin-top: 2rem;
}

.footer-container {
    width: 100%;
}
.footer-section {
    display: none;
}
.apps {
    color: rgb(92, 253, 92);
}

/* Mobile Menus */

@media(max-width: 767px) {

    header {
        width: 100%;
        position: sticky;
        top: 0;
    }
    .hamburger {
        display: flex;
        padding: 10px;
    }
    .nav-links {
        width: 100%;
        display: none;
    }
    .top-bar {
        display: none;
    }
    .top-bar {
        width: 100%;
    }
    .navbar {
        height: 51px; 
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px 0;
        z-index: 99;
    }
    .nav-links li a:hover {
        color: #10100f;
    }
    .nav-links li a {
        color: #fff;
    }
    .nav-links li {
        margin: 5px 0;
        margin-left: 15px;
    }
    .hamburger {
        display: flex;
        padding: 10px;
    }
    /* .book-table {
        display: none;
    } */
    .nav-links.active {
        display: flex;
    }

    /* .nav-links {
      
    } */
    .book-table {
        display: none;
    }

    .hero-section {
        width: 100%;
        
    }
    .text-hero-section h2 {
        text-align: center;
        font-size: 3rem;
        
    }
    .top-links a {
        font-size: 0.8rem;
        margin: 2rem;
       text-decoration: none;
       color: black;
       border: 1px solid lightgray;
       padding: 10px 30px;
       border-radius: 50px;
       font-weight: 500;
    }
    .top-links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
       
    }
    .text-hero-section p {
        font-size: 1rem;
    }
    .foods-section {
        width: 100%;
        height: 100%;
    }

    .buttom-details {
        height: 100%;
    }
    .buttom-img-texts {
        width: 22rem;
        height: 28rem;
         border: 0.5px solid lightgray;
         border-radius: 6px;
     }


     .Order-apps {
        width: 100%;
        height: 100%;
     }
     .top-apss, .center-apps, .last-apps {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
     }
     .btn-top-apps  {
        padding: 5px 20px;
        font-size: 0.8rem;
        border-radius: 5px;
        font-weight: 500;
    }

     .btn-center-apps {
        padding: 5px 20px;
        font-size: 0.8rem;
        border-radius: 5px;
        font-weight: 500;
       
    }
    .btn-last-app {
        padding: 5px 20px;
        font-size: 0.8rem;
        border-radius: 5px;
        font-weight: 500;
        
    }
   
   
}
